body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.venmo-text {
    color: #3d95ce;  /* Venmo-inspired blue */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3d95ce;  /* Venmo-inspired blue */
    color: white;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
