body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.login-container {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}
h1 {
    color: #0084ff;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #0056b3;
}
#togglePassword {
    background-color: transparent;
    color: #007bff;
    margin-top: -40px;
    margin-left: -50px;
    position: absolute;
}
a {
    color: #007bff;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

