body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left-side {
    flex: 1;
    text-align: center;
    padding: 20px;
  }

  .left-side img {
    width: 300px; /* Adjust the logo size here */
    height: auto; /* Maintain the aspect ratio */
  }
  
  .form-container {
    flex: .5;
    padding: 40px;
    border-radius:5px;
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-container form label {
    margin-bottom: 5px;
  }
  
  .form-container form input[type="text"],
  .form-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .form-container button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .form-container a {
    color: #999;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .form-container button[type="button"] {
    background-color: #28a745;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .forget-password {
    color: blue;
    text-decoration: none;
    margin-bottom: 10px; 
  }